@model IEnumerable<VehicleLeasingApp.Models.Vehicles>

@{
	ViewData["Title"] = "Index";
}

<h1>Manage Vehicles</h1>

<p>
	<a class="btn btn-primary" asp-action="Create">Add New Vehicle</a>
</p>
<table class="table table-bordered table-hover table-responsive-lg">
	<thead style="background-color: #d9edf7;">
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.RegistrationNumber)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Model)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Manufacturer)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Supplier)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Branch)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Client)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Driver)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.LeaseStartDate)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.LeaseEndDate)
			</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.RegistrationNumber)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Model)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Manufacturer.Name)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Supplier.Name)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Branch.Name)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Client.CompanyName)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Driver.FullName)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.LeaseStartDate)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.LeaseEndDate)
				</td>
				<td>
					<a asp-action="Edit" asp-route-id="@item.VehicleId" title="Edit" class="mx-2">
						<i class="fas fa-edit"></i>
					</a> |
					<a asp-action="Details" asp-route-id="@item.VehicleId" title="Details" class="mx-2">
						<i class="fas fa-info-circle"></i>
					</a> |
					<a asp-action="Delete" asp-route-id="@item.VehicleId" title="Delete" class="mx-2">
						<i class="fas fa-trash-alt text-danger"></i>
					</a>
				</td>
			</tr>
		}
	</tbody>
</table>
